spring-customtag-practice/src/main/resources/conf/custom.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.txc.com/schema/user"
xmlns="http://www.txc.com/schema/user"
elementFormDefault="qualified">

    <xs:element name="user">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="userName" type="xs:string"/>
            <xs:attribute name="email" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>